.center {
    position: absolute;
    margin: 0 auto;
    height: 560px;
    width: 560px;
    bottom: -360px;
    left: 50%;
    transform: translate(-50%, 0);
}

.center::before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: url("../../imgs/disc.png") no-repeat;
    background-size: contain;
}

.needle {
    position: absolute;
    width: 60px;
    height: 757px;
    top: 300px;
    right: 420px;
    background: url("../../imgs/needle.png") no-repeat;
    background-size: contain;
    z-index: 2;
    cursor: pointer;
    transform: rotate(15deg);
}

.stop {
    position: absolute;
    width: 60px;
    height: 757px;
    top: 300px;
    right: 420px;
    background: url("../../imgs/needle.png") no-repeat;
    background-size: contain;
    z-index: 2;
    cursor: pointer;
}

.cover {
    position: absolute;
    left: 49%;
    top: 50%;
    width: 240px;
    height: 240px;
    margin: -156px 0 0 -106px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
}


/* @media screen and (min-width: 768px) {

    在宽度为768px及以上的屏幕上，唱片的宽度变为50%
    .cover {
        width: 50%;
    }
} */